.div-style{
    padding: 20px;
}

/* Menor resolução */
@media (max-width: 170px){
    .div-style{
        padding: 40px 0px 0px 0px;
    }
}

/* Resolução pequena */
@media (min-width: 171px) and (max-width:200px) {
    .div-style{
        padding: 5px 3px 0px 3px;
    }
}