main .menu{
	width: 100%;
	height: var(--menu-height);
	background-color: #383349c5;
}

.element-menu{
	padding: 3px 2px;	
	color: black;
}

.element-menu:hover{
  color: #ffffff;
  cursor: pointer;
}

main .menu ul li{
	display: inline-block;
	padding: 0;
	margin: 0;
	margin-right: 5px;
	margin-left: 5px;
}

main .menu ul li h2 a { 
	text-decoration: none;
	color: black;
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main .menu ul li h2 a:hover{
	color: white;
	font-size: 20px;
}

/* Menor resolução */
@media (max-width: 170px){
	main .menu {
        height: 30px;
    }

	.menu ul {
		padding: -1px 17px 14px 30px;
		font-size: x-small;
	}
}

/* Resolução pequena */
@media (min-width: 171px) and (max-width:200px){
	main .menu {
        height: 50px;
    }

	.menu ul {
		padding: 0px;
		font-size: small;
	}
}

/* Resolução 201 x 300 */
@media (min-width: 201px) and (max-width:300px){
	main .menu {
        height: 0px;
    }

	.menu ul {
		padding: 0px;
		font-size: small;
	}
}

@media (min-width: 301px) and (max-width: 400px){
    main .menu {
        height: 70px;
    }
}

/* Resolução 302 x 361 */
@media (min-width: 301px) and (max-width:362px){
	main .menu {
        height: 25px;
    }

	.menu ul {
		padding: -1px 17px 14px 17px;
		font-size: 13px;
	}
}

/* Resolução 363 x 390 */
@media (min-width: 363px) and (max-width:389px){
	main .menu {
        height: 25px;
    }

	.menu ul {
		padding: -1px 17px 14px 17px;
		font-size: 13px;
	}
}

/* Samsung Galaxy S8 */
/* @media (min-width: 360px) and (max-width: 740px) {
	main .menu {
        height: 30px;
    }

	.menu ul {
		padding: 14px 17px 14px 17px;
		font-size: 15px;
	}
} */

/* Iphone 12 pro */
@media (min-width: 390px) and (max-width: 844px){
	main .menu {
        height: 25px;
    }

	.menu ul {
		padding: -1px 17px 14px 17px;
		font-size: 13px;
	}
}