.spy {
    padding-bottom: 10px;
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

h3 {
    margin: 10px 175px;
}

p {
    text-align: justify;
    margin: 20px 175px;
}

.image-skeleton {
    height: 100%;
    width: 100%;
}

.image {
    height: 100%;
    width: 100%;
}

blockquote {
    background-color: #9686a3;
    color: white;
    margin: 0 50px 10px;
    border-bottom: 10px solid rgb(34, 21, 34);
    border-top: 10px solid rgb(34, 21, 34);
    border-right: 10px solid rgb(34, 21, 34);
    border-left: 10px solid rgb(34, 21, 34);
}

.bloco {
    text-align: justify;
    margin: 20px 175px;
}

@media (min-width: 150px) and (max-width: 700px) {
    h3 {
        font-size: 10px;
    }

    p {
        font-size: 10px;
    }

    .bloco {
        margin: 0 25px 5px;
    }

    main .image {
        height: 60%;
        width: 60%;
        margin: 0 auto;
    }

    .image-skeleton {
        height: 60%;
        width: 60%;
        margin: 0 auto;
    }

    blockquote{
        margin-top: -165px;
        border-bottom: 5px solid rgb(34, 21, 34);
        border-top: 5px solid rgb(34, 21, 34);
        border-right: 5px solid rgb(34, 21, 34);
        border-left: 5px solid rgb(34, 21, 34);
    }
}

/* Menor resolução */
@media (max-width: 170px){
    .spy {
        padding: 0 0 53px 0;
        height: 222px;
        width: 112px;
        margin: 0 auto;
    }

    main .image {
        height: 45%;
        width: 85%;
        margin: 0;
    }

    .image-skeleton {
        height: 45%;
        width: 85%;
        margin: 0;
    }

    blockquote{
        width: 100%;
        margin: -165px -14px 12px -11px;
        border-bottom: 4px solid rgb(34, 21, 34);
        border-top: 4px solid rgb(34, 21, 34);
        border-right: 4px solid rgb(34, 21, 34);
        border-left: 4px solid rgb(34, 21, 34);
    }

    h3{
		font-size: 9px;
	}

    p{
        font-size: 6px;
    }

    .bloco{
        margin: 0px 31px 0px 6px;
    }
}

/* Resolução pequena */
@media (min-width: 171px) and (max-width:200px){
    .spy {
        padding: 0 0 53px 0;
        height: 222px;
        width: 112px;
        margin: 0 auto;
    }

    main .image {
        height: 45%;
        width: 85%;
        margin: 0;
    }

    .image-skeleton {
        height: 45%;
        width: 85%;
        margin: 0;
    }

    blockquote{
        width: 100%;
        margin: -165px -14px 12px -11px;
        border-bottom: 4px solid rgb(34, 21, 34);
        border-top: 4px solid rgb(34, 21, 34);
        border-right: 4px solid rgb(34, 21, 34);
        border-left: 4px solid rgb(34, 21, 34);
    }

    h3{
		font-size: 9px;
	}

    p{
        font-size: 6px;
    }

    .bloco{
        margin: 0px 31px 0px 6px;
    }
}

/* MotoGPower */
@media (min-width: 412px) and (max-width: 823px) {
    main .image {
        height: 60%;
        width: 60%;
        margin: 0px auto 0 55px;
    }

    .image-skeleton {
        height: 60%;
        width: 60%;
        margin: 0px auto 0px 0px;
    }

    blockquote{
        margin-top: -165px;
        border-bottom: 5px solid rgb(34, 21, 34);
        border-top: 5px solid rgb(34, 21, 34);
        border-right: 5px solid rgb(34, 21, 34);
        border-left: 5px solid rgb(34, 21, 34);
    }
}

/* Iphone 12 pro */
@media (min-width: 390px) and (max-width: 844px){
    .spy {
        padding-bottom: 45px;
        height: 320px;
        width: 320px;
        margin: 0 auto;
    }

    main .image {
        height: 60%;
        width: 60%;
        margin: 0px auto 0 60px;
    }

    .image-skeleton {
        height: 60%;
        width: 60%;
        margin: 0px auto 0px 0px;
    }

    blockquote{
        margin: 0 -10px 10px;
        margin-top: -165px;
        border-bottom: 5px solid rgb(34, 21, 34);
        border-top: 5px solid rgb(34, 21, 34);
        border-right: 5px solid rgb(34, 21, 34);
        border-left: 5px solid rgb(34, 21, 34);
    }

    h3{
		font-size: 12px;
	}
}