.bodyStyle{
    height: 50vh;
}

.errorStyle{
    display: grid;
    margin-top: 500px;
    justify-content: center;
    font-family: "math";
    font-size: revert;
}

/* Samsung Galaxy S8 */
@media (min-width: 360px) and (max-width: 740px) {
    .bodyStyle{
        padding: 178px 0 0 0px;
        height: 50vh;
    }

    .errorStyle{
        margin: 0 auto;
        font-size: medium;
    }
}