.bodyStyle {
    height: calc(100vh - var(--header-height) - var(--menu-height) - var(--footer-height) - 5px);
    display: flex;
    justify-content: center;
}

.errorStyle {
    display: grid;
    font-family: "math";
    font-size: revert;
    align-items: center;
}

/* Menor resolução */
@media (max-width: 170px) {
    .bodyStyle{
        height:calc(111vh - var(--header-height) - var(--menu-height) - var(--footer-height) - 5px);
    }
    .errorStyle {
        font-size: x-small;
    }
}

/* Resolução pequena */
@media (min-width: 171px) and (max-width:200px){
    .bodyStyle{
        height:calc(109vh - var(--header-height) - var(--menu-height) - var(--footer-height) - 3px);
    }
    .errorStyle {
        margin: 0 auto;
        font-size: x-small;
    }
}

/* Resolução 201 x 300 */
@media (min-width: 201px) and (max-width:300px){
    .bodyStyle{
        height:calc(114vh - var(--header-height) - var(--menu-height) - var(--footer-height) - 7px);
    }
    .errorStyle {
        margin: 0 auto;
        font-size: 14px;
    }
}

/* Resolução 301 x 362 */
@media (min-width: 301px) and (max-width:389px){
    .bodyStyle{
        height:calc(109vh - var(--header-height) - var(--menu-height) - var(--footer-height) - -3px);
    }
    .errorStyle {
        margin: 0 auto;
        font-size: medium;
    }
}

/* Iphone 12 pro */
@media (min-width: 390px) and (max-width: 411px) {
    .bodyStyle{
        height:calc(109vh - var(--header-height) - var(--menu-height) - var(--footer-height) - -3px);
    }
    .errorStyle {
        margin: 0 auto;
        font-size: inherit;
    }
}

/* MotoGPower */
@media (min-width: 412px) and (max-width: 844px){
    .bodyStyle{
        height:calc(109vh - var(--header-height) - var(--menu-height) - var(--footer-height) - -3px);
    }
    .errorStyle {
        margin: 0 auto;
        font-size: inherit;
    }
}