.rodape {
	background-color: rgb(41, 39, 39);
	color: #f2fffc;
	height: 50px;
	clear: both;
	width: var(--default-width);
	margin: 0 auto;
}

.rodape h4 {
	padding: 10px 0 0 5px;
	float: left;
}

.rodape ul li {
	display: block;
	margin: 0 5px 0 0;
	float: right;
}

.rodape .icones img {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-right: 15px;
}

@media (min-width: 1024px) {
	.rodape {
		width: 80%;
	}
}

@media (min-width: 1150px) {
	.rodape {
		width: 70%;
	}
}

/* Menor resolução */
@media (max-width: 170px) {
	.rodape h4 {
		font-size: x-small;
	}

	.rodape {
		margin: 0 0 0 3px;
		;
		height: 35px;
	}

	.rodape .icones img {
		width: 12px;
		height: 12px;
		margin: 10px 0 0 0;
	}
}

/* Resolução pequena */
@media (min-width: 171px) and (max-width:200px) {
	.rodape h4 {
		font-size: x-small;
	}

	.rodape {
		margin: 0 0 0 3px;
		;
		height: 35px;
	}

	.rodape .icones img {
		width: 12px;
		height: 12px;
		margin: 10px 0 0 0;
	}
}

/* Iphone 12 pro */
@media (min-width: 171){
	.rodape {
		margin: 0 0 0 10px;
	}
}

/* Resolução 201 x 300 */
@media (min-width: 201px) and (max-width:300px) {
	.rodape h4 {
		font-size: small;
	}

	.rodape {
		margin: 0 auto;
		height: 35px;
	}

	.rodape .icones img {
		width: 20px;
		height: 20px;
		margin: 7px 0 0 0;
	}
}

/* Resolução 301 x 362 */
@media (min-width: 301px) and (max-width:389px){
	.rodape .icones img {
		width: 25px;
		height: 25px;
		margin-top: 12px;
		margin-right: 4px;
	}
}

/* Resolução 701 x 844 */
@media (min-width: 445px) and (max-width:840px){
	.rodape{
		margin: 0 0 0 10px;
	}
}