.rodape {
	background-color: rgb(41, 39, 39);
	color: #f2fffc;
	height: 50px;
	clear: both;
	width: var(--default-width);
	margin: 0 auto;
}

.rodape h4 {
	padding: 10px 0 0 5px;
	float: left;
}

.rodape ul li {
	display: block;
	margin: 0 5px 0 0;
	float: right;
}

.rodape .icones img {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-right: 15px;
}

@media (min-width: 1024px) {
	.rodape {
		width: 80%;
	}
}

@media (min-width: 1150px) {
	.rodape {
		width: 70%;
	}
}

/* Menor resolução */
@media (max-width: 170px){
	.rodape h4 {
		font-size: x-small;
	}

	.rodape {
		margin: 0 0 0 3px;;
		height: 35px;
	}

	.rodape .icones img {
		width: 12px;
		height: 12px;
		margin: 10px 0 0 0;
	}
}

/* Iphone 12 pro */
@media (min-width: 171) and (max-width: 844px) {
	.rodape {
		margin: 0 0 0 10px;
	}
}