:root {
	--default-width: 95%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
	font-family: "Crimson Text", "Times New Roman", serif;
	background-color: #575757;
	font-size: 120%;
	line-height: 1.5;
	width: 100%;
}

main {
	background-color: #ede3e3;
	width: var(--default-width);
    margin: 0 auto;
}

main .ul{
	background-color: #bca6c7;
}

main .counteiner{
	height: 100%;
	width: 100%;
	min-height: 100vh;
	padding: 10px 0;
}

h1, h2, h3 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h3 {
	margin: 10px 175px;
}

.info {
	margin-left: 425px;
	margin-bottom: -5px;
}

p {
    text-align: justify;
    margin: 20px 175px;
}

@keyframes loading{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@media (min-width: 1024px) {
    main {
		width: 80%;
	}
}

@media (min-width: 1150px) {
    main {
		width: 70%;
	}
}

/* Menor resolução */
@media (max-width: 170px){
	main{
		margin: 0 0 0 3px;;
	}

	main .counteiner{
		padding: -10px 0 0 0;
	}
}

/* Resolução pequena */
@media (min-width: 171px) and (max-width:200px){
	main{
		margin: 0 0 0 3px;
	}

	main .counteiner{
		padding: -1px 0 0 0;
	}
}

/* Resolução 201 x 300 */
@media (min-width: 201px) and (max-width:300px){
	main .counteiner{
		padding: 40px 0;
	}
}

/* MotoGPower */
@media (min-width: 412px) and (max-width: 823px){
	main .counteiner {
		min-height: 0;
	}
}

/* Resolução 301 x 362 */
@media (min-width: 301px) and (max-width:389px){
	main{
		height: 50%;
		min-height: 76vh;
	}
}

/* Iphone 12 pro */
@media (min-width: 390px) and (max-width: 844px){
	main{
		margin: 0 0 0 10px;
	}

	main .counteiner{
		height: 50%;
		min-height: 80vh;
	}
}

/* Samsung Galaxy S8 */
/* @media (min-width: 360px) and (max-width: 740px) {
	main .counteiner {
		min-height: 50vh;
	}
} */