.bodyPage {
    height: calc(100vh - var(--header-height) - var(--menu-height) - var(--footer-height) - 5px);
    display: flex;
    align-items: center;
}

.fromStyle {
    width: 500px;
    height: 500px;
    background-color: #af9bbf;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 35px;
}

.inputStyle {
    padding: 10px;
    margin: 5px 30px 20px 30px;
    border-radius: 50px;
}

.inoputButtonStyle {
    margin: -10px 205px;
    border-radius: 10px;
    background-color: #886fa5;
    color: white;
    cursor: pointer;
}

.inoputButtonStyle:hover {
    background-color: white;
    color: black;
}

.labelStyle {
    margin-left: 40px;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

/* Menor resolução */
@media (max-width: 170px) {
    .bodyPage {
        height: calc(111vh - var(--header-height) - var(--menu-height) - var(--footer-height) - 5px);
    }

    .fromStyle {
        width: 110px;
        height: 335px;
    }

    .inoputButtonStyle {
        margin: -10px 14px;
    }

    .labelStyle {
        font-size: small;
        margin-left: 0;
    }

    .inputStyle {
        padding: 0px;
        margin: 5px 0 20px 0px;
    }
}

/* Resolução pequena */
@media (min-width: 171px) and (max-width:200px) {
    .bodyPage {
        height: calc(109vh - var(--header-height) - var(--menu-height) - var(--footer-height) - 7px);
    }

    .fromStyle {
        width: 155px;
        height: 335px;
    }

    .inoputButtonStyle {
        margin: -10px 14px;
    }

    .labelStyle {
        font-size: small;
        margin-left: 0;
    }

    .inputStyle {
        padding: 0px;
        margin: 5px 0 20px 0px;
    }
}

/* Resolução 201 x 300 */
@media (min-width: 201px) and (max-width:300px) {
    .bodyPage {
        height: calc(114vh - var(--header-height) - var(--menu-height) - var(--footer-height) - 3px);
    }

    .fromStyle {
        width: 180px;
        height: 335px;
    }

    .inoputButtonStyle {
        margin: -5px 14px;
    }

    .labelStyle {
        font-size: small;
        margin-left: 0;
    }

    .inputStyle {
        padding: 0px;
        margin: 5px 0 20px 0px;
    }
}

/* Resolução 301 x 362 */
@media (min-width: 301px) and (max-width:389px) {
    .bodyPage {
        height: calc(109vh - var(--header-height) - var(--menu-height) - var(--footer-height) - -3px);
    }

    .fromStyle {
        width: 260px;
        height: 335px;
    }

    .inoputButtonStyle {
        margin: -5px 14px;
    }

    .labelStyle {
        font-size: small;
        margin-left: 0;
    }

    .inputStyle {
        padding: 0px;
        margin: 5px 0 20px 0px;
    }
}

/* Iphone 12 pro */
@media (min-width: 390px) and (max-width: 844px) {
    .bodyPage {
        height: calc(109vh - var(--header-height) - var(--menu-height) - var(--footer-height) - -3px);
    }

    .fromStyle {
        width: 340px;
        height: 300px;
    }

    .inoputButtonStyle {
        margin: -10px 85px;
    }
}

/* MotoGPower */
@media (min-width: 412px) and (max-width: 850px) {
    .bodyPage {
        height: calc(109vh - var(--header-height) - var(--menu-height) - var(--footer-height) - -3px);
    }

    .fromStyle {
        width: 430px;
        height: 380px;
    }

}