.bodyPage {
    height: 65vh;
    padding-top: 95px;
}

.fromStyle {
    width: 500px;
    height: 500px;
    background-color: #af9bbf;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border-radius: 35px;
}

.inputStyle{
    padding: 10px;
    margin: 5px 30px 20px 30px;
    border-radius: 50px;
}

.inoputButtonStyle{
    margin: -10px 205px;
    border-radius: 10px;
    background-color: #886fa5;
    color: white;
    cursor: pointer;
}

.inoputButtonStyle:hover{
    background-color: white;
    color: black;
}

.labelStyle{
    margin-left: 40px;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

/* Samsung Galaxy S8 */
@media (min-width: 360px) and (max-width: 740px) {
    .bodyPage{
        padding-top: 85px;
    }

    .fromStyle{
        width: 260px;
        height: 295px;
    }

    .inoputButtonStyle{
        margin: -10px 85px;
    }
}